version: "3.9"

services:
  app:
    container_name: portfolio
    build: .
    ports:
      - "5174:5174"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true