@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Custom Components */
@layer components {
  .box {
     @apply bg-white dark:bg-gray-800 text-black dark:text-white p-4 rounded-lg transition 
    duration-400 cursor-pointer hover:scale-105 shadow-2xl dark:shadow-[0_10px_30px_rgba(0,0,0,0.7)];
  }
  .box-skill {
    @apply bg-white dark:bg-gray-800 text-black dark:text-white p-4 rounded-lg transition 
    duration-400 cursor-pointer hover:scale-105 shadow-2xl dark:shadow-[0_10px_30px_rgba(0,0,0,0.7)];
  }
}
